body {
  background: #F2F2F2; }

.main-content-container {
  min-height: 400px; }
  .main-content-container p, .main-content-container h1, .main-content-container h2, .main-content-container h3, .main-content-container h4 {
    color: rgba(34, 34, 34, 0.6); }

pre {
  color: grey;
  font-size: .8rem; }

footer {
  text-align: center; }
  footer a {
    color: #E0CDC7;
    text-decoration: underline; }
  footer p {
    font-size: .7rem;
    margin-bottom: 5px; }
